<% include ../partials/header.ejs %>
<!--outter-wp-->
<%
	function format_currency (money) {
		return money.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g,"$1.");
	}
%>
<div class="outter-wp">
    <!--sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active"><%= title %></li>
        </ol>
    </div>
    <!--//sub-heard-part-->
    <div class="graph-visual tables-main">
        <h3 class="inner-tittle two">Danh sách sản phẩm </h3>
        <% if(success_msg != ''){ %> 
            <div class="alert alert-success"><%= success_msg%></div>
        <% } %>
        <div class="graph">
            <div class="tables">
                    <!-- table-bordered -->
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th>Ảnh</th>
                            <!-- <th>Mô tả</th> -->
                            <th>Kích cỡ</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Thể loại</th>
                            <th colspan="3" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  var i = 0; 
                            product.forEach(function(item){ 
                            i++;
                        %>
                        <tr>
                            <th scope="row"><%= i %></th>
                            <td><%= item.name %></td>
                            <td><img src="<%= item.image %>" alt="" style="width:60px;height:60px"></td>
                            <!-- <td><%= item.description %></td> -->
                            <td><%= item.size %></td>
                            <td><%= item.quantity %></td>
                            <td><%= format_currency(item.price) %> VND</td>
                            <% 
                                category.forEach(function(cat){
                                    if(item.cat_id == cat.id){
                             %>
                                    <td><%= cat.name %></td>
                             <% 
                                    }
                                }) %>
                            <td class="text-center "><a href="#modal-view" id="<%= item._id %>" class="modal_view" data-toggle="modal"><i class="lnr lnr-eye"></i></a></td>
                            <td class="text-center"><a href="/admin/product/delProduct/<%= item._id %>" onclick="return acceptDelete('Bạn có chắc chắn muốn xóa không ?');"><i class="lnr lnr-trash"></i></a></td>
                            <td class="text-center"><a href="/admin/product/editProduct/<%= item._id %>" ><i class="lnr lnr-pencil"></i></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--//graph-visual-->
</div>
<!--//outer-wp-->
</div>
<!-- Modal VIEW DETAIL-->
<div class="modal fade" id="modal_view">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title">Thông tin chi tiết</h3>
			</div>
			<div class="modal-body" id="product_detail">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--footer section start-->
<% include ../partials/footer.ejs %>
<!--footer section end-->
<% include ../partials/nav.ejs %>
<!--//content-inner-->