<% include ../partials/header %>
<%
    function format_currency (money) {
      return money.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g,"$1.");
    }
    %>
<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<!-- BSTORE-BREADCRUMB START -->
						<div class="bstore-breadcrumb">
							<a href="index.html">HOMe<span><i class="fa fa-caret-right"></i> </span> </a>
							<span> <i class="fa fa-caret-right"> </i> </span>
							<a href="shop-gird.html"> <%= (category.parentId==0) ? "Nam" : "Nữ"; %> </a>
							<span> <%= product.name %> </span>
						</div>
						<!-- BSTORE-BREADCRUMB END -->
					</div>
				</div>				
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<!-- SINGLE-PRODUCT-DESCRIPTION START -->
						<div class="row">
							<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
								<div class="single-product-view">
									  <!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="thumbnail_1">
											<div class="single-product-image">
												<img src="<%= product.image %>" alt="single-product-image" />
												<a class="new-mark-box" href="#">new</a>
												<a class="fancybox" href="<%= product.image %>" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
											</div>	
										</div>
										<div class="tab-pane" id="thumbnail_2">
											<div class="single-product-image">
												<img src="<%= product.image %>" alt="single-product-image" />
												<a class="new-mark-box" href="#">new</a>
												<a class="fancybox" href="<%= product.image %>" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
											</div>	
										</div>
										<div class="tab-pane" id="thumbnail_3">
											<div class="single-product-image">
												<img src="images/frontend/product/sale/9.jpg" alt="single-product-image" />
												<a class="new-mark-box" href="#">new</a>
												<a class="fancybox" href="images/frontend/product/sale/9.jpg" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
											</div>	
										</div>
										<div class="tab-pane" id="thumbnail_4">
											<div class="single-product-image">
												<img src="images/frontend/product/sale/13.jpg" alt="single-product-image" />
												<a class="new-mark-box" href="#">new</a>
												<a class="fancybox" href="images/frontend/product/sale/13.jpg" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
											</div>	
										</div>
										<div class="tab-pane" id="thumbnail_5">
											<div class="single-product-image">
												<img src="images/frontend/product/sale/7.jpg" alt="single-product-image" />
												<a class="new-mark-box" href="#">new</a>
												<a class="fancybox" href="images/frontend/product/sale/7.jpg" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
											</div>	
										</div>
										<div class="tab-pane" id="thumbnail_6">
											<div class="single-product-image">
												<img src="images/frontend/product/sale/12.jpg" alt="single-product-image" />
												<a class="new-mark-box" href="#">new</a>
												<a class="fancybox" href="images/frontend/product/sale/12.jpg" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
											</div>	
										</div>
									</div>										
								</div>
								<div class="select-product">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs select-product-tab bxslider">
										<li class="active">
											<a href="#thumbnail_1" data-toggle="tab"><img src="<%= product.image %>" alt="pro-thumbnail" /></a>
										</li>
									</ul>										
								</div>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
								<div class="single-product-descirption">
									<h2><%= product.name %></h2>
									<div class="single-product-social-share">
										<ul>
											<li><a href="#" class="twi-link"><i class="fa fa-twitter"></i>Tweet</a></li>
											<li><a href="#" class="fb-link"><i class="fa fa-facebook"></i>Share</a></li>
											<li><a href="#" class="g-plus-link"><i class="fa fa-google-plus"></i>Google+</a></li>
											<li><a href="#" class="pin-link"><i class="fa fa-instagram"></i>Instagram</a></li>
										</ul>
									</div>
									<div class="single-product-review-box">
										<div class="rating-box">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-empty"></i>
										</div>
										<div class="read-reviews">
											<a href="#">Bình luận (1)</a>
										</div>
										<div class="write-review">
											<a href="#">Viết bình luận</a>
										</div>		
									</div>
									<div class="single-product-condition">
										<p>Reference: <span>demo_1</span></p>
										<p>Kiểu sản phẩm: <span>Sản phẩm mới</span></p>
									</div>
									<div class="single-product-price">
										<h2><%= format_currency(product.price) %> VND</h2>
									</div>
									<div class="single-product-desc">
										<p><%= product.description %></p>
										<div class="product-in-stock">
											<p>Tình trạng<span><%= (product.quantity > 0) ? "Còn hàng" : "Hết hàng" %></span></p>
										</div>
									</div>
									<div class="single-product-info">
										<a href="#"><i class="fa fa-envelope"></i></a>
										<a href="#"><i class="fa fa-print"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
									<div class="single-product-quantity">
										<p class="small-title">Số lượng</p> 
										<div class="cart-quantity">
											<div class="cart-plus-minus-button single-qty-btn">
												<input class="cart-plus-minus sing-pro-qty" type="text" name="qtybutton" value="1">
											</div>
										</div>
									</div>
									<div class="single-product-size">
										<p class="small-title">Kích cỡ </p> 
										<select name="sltSize" id="product-size">
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
										</select>
									</div>
									<div class="single-product-color">
										<p class="small-title">Color </p> 
										<a href="#"><span></span></a>
										<a class="color-blue" href="#"><span></span></a>
									</div>
									<div class="single-product-add-cart">
										<a class="add-cart-text" title="Add to cart" href="/gio-hang/<%= product._id %>">Thêm vào giỏ hàng</a>
									</div>
								</div>
							</div>
						</div>
						<!-- SINGLE-PRODUCT-DESCRIPTION END -->
						<!-- SINGLE-PRODUCT INFO TAB START -->
						<div class="row">
							<div class="col-sm-12">
								<div class="product-more-info-tab">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs more-info-tab">
										<li class="active"><a href="#moreinfo" data-toggle="tab">Thông tin chi tiết</a></li>
										<li><a href="#datasheet" data-toggle="tab">Chất liệu</a></li>
										<li><a href="#review" data-toggle="tab">Bình luận</a></li>
									</ul>
									  <!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active" id="moreinfo">
											<div class="tab-description">
												<p>Thời trang đã tạo ra các bộ sưu tập được thiết kế tốt từ năm 2010. Thương hiệu này cung cấp các thiết kế nữ tính mang đến những bộ váy cách điệu và váy statement đã phát triển thành một bộ sưu tập may sẵn đầy đủ, trong đó mỗi món đồ là một phần quan trọng trong tủ quần áo của phụ nữ. Kết quả? Mát mẻ, dễ dàng, sang trọng với vẻ thanh lịch trẻ trung và phong cách đặc trưng không thể nhầm lẫn. Tất cả các mảnh đẹp được sản xuất tại Ý và được sản xuất với sự chú ý lớn nhất. Bây giờ Thời trang mở rộng đến một loạt các phụ kiện bao gồm giày, mũ, thắt lưng và nhiều hơn nữa!</p>
											</div>
										</div>
										<div class="tab-pane" id="datasheet">
											<div class="deta-sheet">
												<table class="table-data-sheet">			
													<tbody>
														<tr class="odd">
															<td>Compositions</td>
															<td>Cotton</td>
														</tr>
														<tr class="even">
															<td class="td-bg">Styles</td>
															<td class="td-bg">Casual</td>
														</tr>
														<tr class="odd">
															<td>Properties</td>
															<td>Short Sleeve</td>
														</tr>
													</tbody>
												</table>				
											</div>
										</div>
										<div class="tab-pane" id="review">
											<div class="row tab-review-row">
												<div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 padding-5">
													<div class="tab-rating-box">
														<span>Grade</span>
														<div class="rating-box">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-half-empty"></i>
														</div>	
														<div class="review-author-info">
															<strong>write A REVIEW</strong>
															<span>06/22/2015</span>
														</div>															
													</div>
												</div>
												<div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 padding-5">
													<div class="write-your-review">
														<p><strong>write A REVIEW</strong></p>
														<p>write A REVIEW</p>
														<span class="usefull-comment">Was this comment useful to you? <span>Yes</span><span>No</span></span>
														<a href="#">Report abuse </a>
													</div>
												</div>
												<a href="#" class="write-review-btn">Write your review!</a>
											</div>
										</div>
									</div>									
								</div>
							</div>
						</div>
						<!-- SINGLE-PRODUCT INFO TAB END -->
						<!-- RELATED-PRODUCTS-AREA START -->
						<div class="row">
							<div class="col-sm-12">
								<div class="left-title-area">
									<h2 class="left-title">related products</h2>
								</div>	
							</div>
							<div class="related-product-area featured-products-area">
								<div class="col-sm-12">
									<div class=" row">
										<!-- RELATED-CAROUSEL START -->
										<div class="related-product">
											<!-- SINGLE-PRODUCT-ITEM START -->
											<div class="item">
												<div class="single-product-item">
													<div class="product-image">
														<a href="#"><img src="images/frontend/product/sale/3.jpg" alt="product-image" /></a>
													</div>
													<div class="product-info">
														<div class="customar-comments-box">
															<div class="rating-box">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-half-empty"></i>
															</div>
															<div class="review-box">
																<span>1 Review(s)</span>
															</div>
														</div>
														<a href="#">Faded Short T-sh...</a>
														<div class="price-box">
															<span class="price"><%= product.price %></span>
														</div>
													</div>
												</div>							
											</div>							
										</div>
										<!-- RELATED-CAROUSEL END -->
									</div>	
								</div>
							</div>	
						</div>
						<!-- RELATED-PRODUCTS-AREA END -->
					</div>
					<!-- RIGHT SIDE BAR START -->
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<!-- SINGLE SIDE BAR START -->
						<div class="single-product-right-sidebar">
							<h2 class="left-title">Sản phẩm đã xem</h2>
							<ul>
								<% 
									if(viewed != undefined){
										viewed.forEach(function(slug){
											productAll.forEach(function(item){
												if(item.slug == slug){
                     %>
								<li>
									<a href="san-pham/<%= item.slug %>"><img src="<%= item.image%>" alt="" width=82 height=82/></a>
									<div class="r-sidebar-pro-content">
										<h5><a href="#"><%= item.name %></a></h5>
										<p><%= item.description %></p>
									</div>
								</li>
								<%
												}
											})
										})
									}
							%>
							</ul>
						</div>	
						<!-- SINGLE SIDE BAR END -->
						<!-- SINGLE SIDE BAR START -->
						<div class="single-product-right-sidebar clearfix">
							<h2 class="left-title">Tags </h2>
							<div class="category-tag">
								<a href="#">fashion</a>
								<a href="#">handbags</a>
								<a href="#">women</a>
								<a href="#">men</a>
								<a href="#">kids</a>
								<a href="#">New</a>
								<a href="#">Accessories</a>
								<a href="#">clothing</a>
								<a href="#">New</a>
							</div>							
						</div>	
						<!-- SINGLE SIDE BAR END -->
						<!-- SINGLE SIDE BAR START -->						
						<div class="single-product-right-sidebar">
							<div class="slider-right zoom-img">
								<a href="#"><img class="img-responsive" src="images/frontend/product/cms11.jpg" alt="sidebar left" /></a>
							</div>							
						</div>
					</div>
					<!-- SINGLE SIDE BAR END -->				
				</div>
			</div>
			<% include ../partials/footer %>